<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" name="ur10_robotiq_2f_85_robot">

	<!-- THE ROBOT -->
	<link name="world" />

	<!-- UR from ROS-i repos -->
	<xacro:include filename="$(find ur_description)/urdf/ur10.urdf.xacro" />
	<joint name="world_joint" type="fixed">
		<parent link="world" />
		<child link = "vapp_robot_arm_base_link" />
		<origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
	</joint>
	<xacro:ur10_robot prefix="vapp_robot_arm_" joint_limited="false"/>

	<!-- Robotiq from Beta Robots fork-->
	<xacro:include filename="$(find robotiq_2f_85_gripper_visualization)/urdf/robotiq_arg2f_85_model_macro.xacro" />
  	<xacro:robotiq_arg2f_85 prefix=""/>
	<joint name="grip_joint" type="fixed">
	  	<parent link="vapp_robot_arm_tool0" />
		<child link = "robotiq_arg2f_base_link" />
		<origin xyz="0 0 0" rpy="0 0 1.5708" />
	</joint>


<!--
	<xacro:include filename="$(find robotiq_2f_model)/model/robotiq_2f_85.urdf.xacro" />
	<xacro:robotiq_2f_85 name="simple_gripper" parent="simple_arm_tool0" precise_collision="false" adaptive_transmission="false">
		<origin xyz="0 0 0" rpy="0 0 1.5708" />
	</xacro:robotiq_2f_85>
	-->

</robot>